.titleLink {
    font-size: 20px !important;
    color: var(--mantine-color-purple-5) !important;
    font-weight: 600 !important;
    line-height: 26px !important;
    transition: color 0.1s;

    &:hover {
        color: var(--mantine-color-purple-4) !important;
    }

    &:active {
        color: var(--mantine-color-purple-6) !important;
    }
}

.title {
    font-size: 20px !important;
    color: var(--mantine-color-purple-5) !important;
    font-weight: 600 !important;
    line-height: 26px !important;
    cursor: default !important;
}

.ratingBtnIcon {
    height: 32px !important;
    span {
        height: 28px !important;
    }


    padding: 0;
    filter: brightness(0) saturate(100%) invert(97%) sepia(9%) saturate(661%) hue-rotate(181deg) brightness(89%) contrast(92%);
    transition: all 0.2s;

    &:hover {
        filter: brightness(0) saturate(100%) invert(72%) sepia(5%) saturate(487%) hue-rotate(198deg) brightness(94%) contrast(97%);
    }

    &:active {
        filter: brightness(0) saturate(100%) invert(50%) sepia(12%) saturate(286%) hue-rotate(198deg) brightness(95%) contrast(91%);
    }
}

.ratingBtnIconRated {
    height: 32px !important;

    span {
        height: 28px !important;
    }

    padding: 0;
    overflow: visible !important;
    filter: brightness(0) saturate(100%) invert(35%) sepia(49%) saturate(2342%) hue-rotate(244deg) brightness(99%) contrast(94%);
    transition: all 0.2s;

    &:hover {
        filter: brightness(0) saturate(100%) invert(83%) sepia(37%) saturate(6949%) hue-rotate(213deg) brightness(102%) contrast(94%);
    }

    &:active {
        filter: brightness(0) saturate(100%) invert(15%) sepia(58%) saturate(4065%) hue-rotate(259deg) brightness(88%) contrast(100%);
    }
}