.modalBtnSaveRoot {
    background-color: var(--mantine-color-purple-5) !important;
    border-radius: 8px !important;
    padding: 12px 20px !important;

    .modalBtnSaveInner {
        color: white !important;
    }

    &:hover {
        background-color: var(--mantine-color-purple-4) !important;
    }

    &:active {
        background-color: var(--mantine-color-purple-6) !important;
    }

}

.modalBtnRemoveRoot {
    padding: 0px !important;

    .modalBtnRemoveInner {
        font-size: 600;
        color: var(--mantine-color-purple-5) !important;

        &:hover {
            color: var(--mantine-color-purple-4) !important;
        }

        &:active {
            color: var(--mantine-color-purple-6) !important;
        }
    }

    &:disabled,
    &[data-disabled] {
        color: rgba(0, 0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0) !important;

        .modalBtnRemoveInner {
            color: var(--mantine-color-gray-6) !important;
        }
    }

}