// * custom: MultiSelect, Select, NumberInput

.label {
    font-size: 16px !important;
    color: black !important;
    font-weight: 700 !important;
    margin-bottom: 8px !important;
}

.input {
    margin-top: 1.5px;
    font-size: 14px !important;

    caret-color: var(--mantine-color-purple-5);

    border: 1px solid var(--mantine-color-gray-3) !important;
    border-radius: 8px !important;

    &:hover {
        border-color: var(--mantine-color-purple-5) !important;
    }

    &[inputmode="decimal"] {
        +.section {
            width: 23px !important;
            margin-right: 2px;
            button {
                cursor: pointer;
                background-color: inherit;
                border: none;

                img {
                    width: 12px;
                    height: 12px;
                    filter: brightness(0) saturate(100%) invert(74%) sepia(9%) saturate(259%) hue-rotate(198deg) brightness(95%) contrast(85%);
                }
            }

        }

        &:focus {
            border-color: var(--mantine-color-purple-5) !important;
        }
    }

    &[data-expanded="true"] {
        border-color: var(--mantine-color-purple-5) !important;

        +.section {
            transform: rotate(180deg);
            color: var(--mantine-color-purple-5) !important;

            img {
                filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(2693%) hue-rotate(246deg) brightness(100%) contrast(94%);
            }
        }
    }

    +.section {
        transition: all 0.2s;
        margin-right: 3px;

        button {
            transition: all 0.1s;
            border-left: none !important;

            &:first-child {
                position: relative;
                top: 4px;
                left: -3px;

            }

            &:last-child {
                position: relative;
                top: -4px;
                left: -3px;
            }

            &[disabled] {
                opacity: 0.4;
            }

            svg {
                filter: brightness(0) saturate(100%) invert(80%) sepia(9%) saturate(291%) hue-rotate(198deg) brightness(88%) contrast(83%);

                path {
                    stroke-width: 3 !important;
                    stroke-linecap: round !important;
                }
            }
        }
    }



    .pillsList {
        gap: 0 !important;
        flex-wrap: nowrap !important;
        width: calc(100% - 3px);
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &:-webkit-scrollbar {
            display: none;
        }

        .pill {
            background-color: inherit !important;
            padding: 0 !important;
            margin-top: 0.8px;
            font-size: 14px !important;

            button {
                display: none;
            }

            &:not(:last-of-type)::after {
                padding-right: 3px;
                content: ",";
            }

        }

        .inputField {
            margin-top: 1.5px;
            font-size: 14px !important;
        }

        &:has(.pill) {
            .inputField {
                position: absolute;
                top: -5000px;
            }
        }
    }

}

.dropdown {
    border-radius: 8px !important;
    border: none !important;
    max-height: 250px;
    overflow-y: auto;

    .option {
        border-radius: 8px !important;
        color: black;
        font-size: 14px !important;
        transition: all 0.25s;

        &:hover {
            color: black;
            background-color: var(--mantine-color-purple-1) !important;
        }

        &[aria-selected="true"] {
            color: white;
            background-color: var(--mantine-color-purple-5) !important;
        }
        
    }

    .option[aria-selected="true"]:has(+ .option[aria-selected="true"]) {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        }
    .option[aria-selected="true"] + .option[aria-selected="true"] {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
}